{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="cover-heading">Add story</h1>
    <div ng-controller="StoryController as storyCtrl">
        <form name="addStoryForm" ng-submit="addStoryForm.$valid && storyCtrl.addStory()" novalidate>
            Title: <input ng-model="storyCtrl.story.title" required class="form-control" placeholder="Best story never told" name="title" type="text" maxlength="255" /><br/>
            Introduction:<br/><textarea ng-model="storyCtrl.story.introduction" required class="form-control" placeholder="Once upon a time..." name="description" type="text" maxlength="255"></textarea> <br/>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
{% endblock %}
