{% extends 'layout.html.twig' %}

{% block content %}
    <h3 class="cover-heading">Log in</h3>
    <form method="post">
        Email: <input class="form-control" placeholder="Your email address" name="email" type="text" maxlength="255" /><br/>
        Password: <input class="form-control" placeholder="" name="password" type="password" maxlength="255" /><br/>
        <button class="btn btn-default" type="submit">Log in</button>
    </form>
{% endblock %}
